body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
  background: #1a1a1a;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #444;
}

#map {
  height: 400px;
  margin: 20px 0;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #333;
}

.table-container {
    margin-top: 40px;
}

.table-container h2 {
    margin-bottom: 15px;
}

.table-container iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;
    border: none;
}
h3 {
    margin-left: 10%;
}